<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="hoopray.safetypongandroid"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".SafetyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data android:name="io.branch.sdk.TestMode" android:value="true" />

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_dca8DV8WB1qpuLpPHx61lhlkqFjAb0Cb"/>

        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_pbe8DU6YuWwcyNgTTUmgPnamBukFdZwr"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/ladder"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="hoopraypong"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ChallengeActivity"
            android:theme="@style/NoBar"/>
        <activity
            android:name=".GameResultsActivity"
            android:theme="@style/NoBar"/>
        <activity
            android:name=".PlayerChangeActivity"
            android:theme="@style/NoBar"/>

        <activity
            android:name=".LeagueActivity"
            android:label="@string/title_activity_league"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>
